<div class="container my-3">
    <h2>Liste de Formations</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Identifiant</th>
                <th>Intitulé</th>
                <th>Programme</th>              
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let elt of formations">
                <td>{{ elt.id }}</td>
                <td>{{ elt.intitule }}</td>
                <td>{{ elt.prixUnitaire }}</td>
            </tr>
        </tbody>
        <p>"Salut les kids"</p>
        <p>Salut les gars</p>
        <p>Salut les kids le retour</p>
        <p>Salut les vieux</p>
        <p>Les vieux? Chuis le plus jeune de cette formation!</p>
        <p>Salut Les vieux 2</p>
        <p>Wesh les boyzzz</p>
    </table>
